* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #000;
}

p {
    color: #c5c6d0;
}

header {
    height: 8rem;
    margin-bottom: 3rem;
}

.navbar {
    width: 100%;
    padding-top: 2.7rem;
    justify-content: center;
    align-items: center;
    padding-left: 1.3rem;
}

.headlogo {
    float: left;
    padding-top: 1rem;
    margin-left: 7rem;
    width: 45%;
    font-size: 3rem;
}

.menu {
    float: left;
    justify-content: center;
    align-items: center;
}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.menu ul li {
    list-style: none;
    margin-left: 4rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.menu ul li a {
    text-decoration: none;
    color: #c5c6d0;
    font-family: Arial, Helvetica, sans-serif;
    transition: .7s ease-in-out;
}

a:hover {
    color: #fff;
}

.btn {
    width: 8.5rem;
    height: 2.5rem;
    background: #ffd700;
    border: 2px solid #ffd700;
    color: #000;
    font-size: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .7s ease-in-out;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    background: #ffc000;
}

.content {
    color: #fff;
    width: 100%;
    height: auto;
    padding-left: 10%;
    display: block;
}

.content h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1.4rem;
    letter-spacing: 1px;
    font-size: 3rem;
    width: 50%;
}

.content p {
    font-size: 1rem;
    width: 40%;
    letter-spacing: .08rem;
    font-family: arial;
    margin-bottom: 3rem;
}

.figure {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 1.2rem;
    margin-bottom: 2rem;
}

.figure img {
    width: 100%;
    height: 20rem;
}

.figure a {
    text-decoration: none;
    color: #c5c6d0;
    width: 75%;
    text-align: justify;
    margin-bottom: 1.2rem;
}

.figure h2 {
    font-size: 2rem;
    margin-bottom: .7rem;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
    font-weight: normal;
    color: #fff;
}

.midheader {
    background: #33363d;
    padding-left: 10%;
    margin-bottom: 50px;
}

.latestContent {
    margin: 2rem 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15%;
}

.latestContent .hcontent {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #fff;
}

.latestContent p {
    font-size: 1rem;
}

.content1,
.content2 {
    width: 35%;
    text-align: justify;
}

.content1 p,
.content2 p {
    padding-top: .75rem;
}

.GetinTouch {
    padding-left: 10%;
    width: 40%;
    color: #fff;
    margin-bottom: 2rem;
}

.GetinTouch .headfirst {
    font-size: 2rem;
}

.GetinTouch .headlast {
    padding-top: .75rem;
    font-size: 1.1rem;
}

.GetinTouch .btn {
    margin-top: .75rem;
}

.footer {
    width: 100%;
    display: flex;
    background: #33363d;
    padding-left: 10%;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.footerIcons,
.footer p {
    width: 50%;
}

.footerIcons {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
}

.footerIcons a {
    padding-left: 1rem;
}

@media only screen and (max-width: 320px){
    .content h1{
        margin-top: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }
    html {
        width: 100%;
    }
    body {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }
    .navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }
    .headlogo {
        width: 100%;
        text-align: center;
        margin-left: auto;
    }
    .menu {
        width: 100%;
    }
    .menu ul {
        width: 100%;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .menu ul li {
        margin-left: 1rem;
    }
    .button .btn {
        margin-bottom: 30px;
    }
    .content {
        margin: 5%;
        padding-left: 0;
    }
    .content h1 {
        width: 90%;
        font-size: 2rem;
    }
    .content p {
        width: 90%;
    }
    .figure {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 2rem;
    }
    .figure a {
        width: 95%;
    }
    .midheader {
        width: 105%;
        padding: 5%;
    }
    .latestContent {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 0;
        margin-right: 0;
    }
    .content1,
    .content2 {
        width: 100%;
    }
    .GetinTouch {
        width: 100%;
    }
    .footer {
        width: 105%;
    }
}
